[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "onbabynames"]
	path = onbabynames
	url = https://github.com/desautm/onbabynames
[submodule "prenoms"]
	path = prenoms
	url = https://github.com/desautm/prenoms
